 # setup the global environment
    export EXTERNAL_STORAGE /mnt/sdcard
    export SD_EXT_DIRECTORY /sd-ext
    export DOWNLOAD_CACHE /cache/download
  # Backwards Compat - XXX: Going away in G*
    symlink /mnt/sdcard /sdcard
  # Add permissions for camera access
    chmod 0666 /dev/msm_camera/config0
    chmod 0666 /dev/msm_camera/control0
    chmod 0666 /dev/msm_camera/frame0
    chmod 0666 /dev/msm_camera/pic0
 then the rom becomes more stable
